<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmute.ChatApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChatAppTutorial">
        <activity android:name="com.hcmute.ChatApp.specificchat"></activity>
        <activity android:name="com.hcmute.ChatApp.UpdateProfile" />
        <activity android:name="com.hcmute.ChatApp.ProfileActivity" />
        <activity android:name="com.hcmute.ChatApp.chatActivity" />
        <activity android:name="com.hcmute.ChatApp.setProfile" />
        <activity android:name="com.hcmute.ChatApp.otpAuthentication" />
        <activity android:name="com.hcmute.ChatApp.MainActivity" />
        <activity android:name="com.hcmute.ChatApp.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>